@import "src/styles/_variables.scss";

.responsive-img {
  max-width: 100%; /* Maximum width of 100% of its container */
  height: auto; /* Height is set to auto to maintain aspect ratio */
  display: block; /* Optional: ensures the image is a block-level element */
  margin: 10px auto; /* Optional: centers the image if container is wider */
}

mat-drawer-container {
  width: 100%;
  height: 100%;

  mat-drawer {
    width: 30%;
  }

  mat-drawer-content {
    padding: $standardMaterialElementDistance;

    app-details {
    }
  }

  mat-list-item:hover {
    cursor: pointer;
    background-color: $hoveredClientBackgroundColor;
  }

  .selected {
    background-color: $selectedClientBackgroundColor;
  }

  .floating-button {
    margin-top: $standardMaterialElementDistance;
    margin-right: $standardMaterialElementDistance;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
