<mat-drawer-container>
  <mat-drawer disableClose="true" mode="side" opened>
    <button
      (click)="onClickPlus()"
      class="create-button floating-button"
      color="primary"
      mat-fab
    >
      <mat-icon>add</mat-icon>
    </button>

    <ng-container *ngIf="!(isLoadingClients$ | async); else loadingSpinner">
      <!-- start Clients -->
      <mat-list>
        <div
          *ngFor="let client of client$ | async; let last = last"
          [ngClass]="{ selected: client === selectedClient }"
        >
          <app-client (selectedClient)="onSelectClient($event)" [client]="client"></app-client>
          <mat-divider *ngIf="!last"></mat-divider>
        </div>
      </mat-list>
      <!-- end Clients -->
    </ng-container>
  </mat-drawer>

  <mat-drawer-content>
    <app-details
      *ngIf="selectedClient as client; else placeholderTemplate"
      [client]="client"
    >
      <!-- Define some content here, that can be used within the AppDetailsComponent.
       This is called 'Content Projection'. -->
      <hr #horizontalRuler>

      <span>Here may be some nonsense for testing purposes.</span>
      <span #extraTextElements
            class="extra-text-elements">This is an extra text element, also for testing purposes.</span>
      <span #extraTextElements class="extra-text-elements">And another one.</span>

      <img *ngIf="client.imageUrl"
           [src]="client.imageUrl"
           alt="Client Image"
           class="responsive-img">
    </app-details>
  </mat-drawer-content>
</mat-drawer-container>

<!-- start Templates -->
<ng-template #loadingSpinner>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #placeholderTemplate>
  <app-placeholder
    [iconKey]="'person'"
    [message]="'Select any client to view its details'"
  >
  </app-placeholder>
</ng-template>
<!-- end Templates -->
