<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-toolbar color="primary">
      <h1>Clients</h1>
    </mat-toolbar>

    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

    <mat-list *ngIf="!isLoading">
      <div
        *ngFor="let client of clients; let last = last"
        [ngClass]="{ selected: client === selectedClient }"
      >
        <ng-container
          [ngTemplateOutlet]="clientTemplate"
          [ngTemplateOutletContext]="{ $implicit: client }"
        ></ng-container>
        <mat-divider *ngIf="!last"></mat-divider>
      </div>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <app-details *ngIf="selectedClient" [client]="selectedClient"></app-details>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #clientTemplate let-client>
  <mat-list-item (click)="onSelectClient(client)">
    <span class="clickable-element">
      <mat-icon mat-list-icon>person</mat-icon>
      {{ client.name }}
    </span>
  </mat-list-item>
</ng-template>

<ng-template #loadingTemplate> </ng-template>
