<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>person</mat-icon>
    <mat-card-title
    >{{ client.firstName }} {{ client.lastName }}</mat-card-title
    >
    <mat-card-subtitle>{{ client.email }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <h3 mat-subheader>Address</h3>
      <mat-list-item>
        <div mat-line>Street: {{ client.address.streetName }}</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>House Number: {{ client.address.houseNumber }}</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>Postal Code: {{ client.address.postalCode }}</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>City: {{ client.address.city }}</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>Email: {{ client.email }}</div>
      </mat-list-item>
    </mat-list>

    <!-- Select content, that may or may not have been defined in the parent component that initialized this one.
     This is called 'Content Projection'. -->

    <!-- You can select content by CSS selectors. -->
    <ng-content select="hr"></ng-content>

    <ng-container *ngIf="client.imageUrl">
      <span>An image should pop up below.</span>
    </ng-container>

    <!-- Select by css class. -->
    <ng-content select=".responsive-img"></ng-content>

    <!-- And select whatever is not selected specifically, but is in the content. -->
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
